*{
margin: 0px;
padding: 0px;
font-family: 'Nunito', sans-serif;/*De google fonts*/
}*
body{
    background-color: #fae2da;
}
img{
    max-width: 10em;
    border-radius: 0.25em;
}
section{
    background-color: rgba(116, 213, 245, 0.384);
    margin: 1em;
    border-radius: 1em;
    padding: 1em;
}
h3{
    color: rgb(19, 102, 74);
    padding-right: 0.25em;
    font-size: 0.745cm;
    /*Animacion*/
    -webkit-animation: tracking-in-expand 0.7s ease-in-out ;
	        animation: tracking-in-expand 0.7s ease-in-out ;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }



header{
background: #fabfae;
}
nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    list-style: none;
    margin: 0;
    background: #fabfae;
}
a{
    text-decoration: none;
    display: block;
    padding: 1em;
    color: rgb(121, 72, 9);
}

nav a:hover{
    background: antiquewhite;
}

/*cortes con flex del nav y de home*/
@media all and (max-width: 800px){
    nav{
        justify-content:space-around;
    }
    .medio{flex-flow: column wrap;}
    
}
@media all and (min-width: 600px){
    .ahome{flex: 1 0 0}
    
}

@media all and (min-width: 800px){
    .shome{flex: 3 0px;}
    .ahome{order: 1;}  
}

@media all and (max-width: 600px){
    nav{
        flex-flow: column wrap;
        padding: 0;
    }
    .nosotras{
        flex-flow: column wrap;
    }
}




/*Home*/
.medio{
    display: flex;
    
}
.ahome{
    padding: 10px;
}

.nosotras{
    display: flex; 
    align-items: center; 
}

.imgnosotras{
    width: 100%;
    height: auto;
}
  
aside{
    background-color: rgba(116, 213, 245, 0.384);
    margin: 1em;
    border-radius: 1em;
    padding-left: 0.5em;
    text-align: center;
}




/*Productos*/
.produc{
    display: flex;
    flex-flow: row nowrap;
    overflow: scroll;
    
    overflow-y: hidden;
}

article{
    background-color: aliceblue;
    margin: 0.25em;
    border-radius: 0.25em;
    padding: 0.5em;
    align-items: center;
}





/*Formulario Contacto*/

input{
    margin: 3px;
}
.datoscontacto{
    display: flex;
    flex-flow:column;
}


.formulario__label{
    color: rgba(4, 105, 72, 0.945);
}

.formulario__input-error{
    font-size: 12px;
	margin-bottom: 0;
    display: none;
}
.formulario__input-error-activo {
	display: block;
}

.formulario__mensaje-exito {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

.formulario__btn {
    margin: 10px;
	height: 30px;
	line-height: 30px;
	width: 30%;
	background: rgba(40, 133, 128, 0.568);
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}






footer{
    background-color: #fabfae;
    position: absolute;
    width: 100%;
    
}
.fhome{
    margin-top: 250px;
}
ul{
    color: rgb(121, 72, 9);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
li{
    list-style: none;
    text-decoration: none;
    display: block;
    padding: 2em;
}
.pfooter{
    color: rgb(121, 72, 9);
    text-align: center;
    padding: 2em;
}
